In [6]:
import pandas as pd

# Read the Excel file into a DataFrame
df = pd.read_excel('Combined Data - Graphs.xlsx', sheet_name='Sheet5')

# Melt the DataFrame to transform it into the desired format
melted_df = pd.melt(df, id_vars=['Date'], var_name='Account', value_name='Value')

# Save the transformed DataFrame to a new Excel file
melted_df.to_excel('narrow_data.xlsx', index=False)

# Display the transformed DataFrame
print(melted_df)

            Date             Account     Value
0     2023-12-01           Bar Sales  55148.99
1     2023-11-01           Bar Sales  47863.36
2     2023-10-01           Bar Sales  39334.01
3     2023-09-01           Bar Sales  38591.71
4     2023-08-01           Bar Sales  34919.53
...          ...                 ...       ...
10663 2017-05-01  Income tax expense      0.00
10664 2017-04-01  Income tax expense      0.00
10665 2017-03-01  Income tax expense      0.00
10666 2017-02-01  Income tax expense      0.00
10667 2017-01-01  Income tax expense      0.00

[10668 rows x 3 columns]

            Date             Account     Value
0     2023-12-01           Bar Sales  55148.99
1     2023-11-01           Bar Sales  47863.36
2     2023-10-01           Bar Sales  39334.01
3     2023-09-01           Bar Sales  38591.71
4     2023-08-01           Bar Sales  34919.53
...          ...                 ...       ...
10663 2017-05-01  Income tax expense      0.00
10664 2017-04-01  Income tax expense      0.00
10665 2017-03-01  Income tax expense      0.00
10666 2017-02-01  Income tax expense      0.00
10667 2017-01-01  Income tax expense      0.00

[10668 rows x 3 columns]